
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>HuescaTelecom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div id="linea"></div> 
    <div id="header">
        <div id="centro1">
            <div id="logo">
                <h2>HuescaTelecom</h2>
                <p>Servicios de telecomunicaciones</p>
            </div>

            <div id="menu">
                <ul>
                    <li><a href={% url 'inicio' %}>Inicio</a></li>
                    <li><a href="quiensomos.html">Quien somos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="https://www.movistar.es/Privada/DesafioUnico/">Movistar</a></li>
                    <li><a href={% url 'products' %}>Productos</a></li>
                    <li><a href={% url 'formulario' %}>Área clientes</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'exit' %}">Salir</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div id="contenidos-paginas">
        <div id ="centro3">
            <div id="contenidos-paginas"><h2>Bienvenido al área de registro. Registrate para Acceder al Área clientes</h2>
                <div id ="centro3">
                    <div id="login" class="text-justify">
                        <h4 class="text-justify">Registro de Usuario</h4>
                            <form action="" method="post">
                            {% csrf_token %}
                            <table>
                                {{ form.as_table }}
                            </table>
                            <br>
                            <input type="reset" value="Limpiar" class="leer-mas">
                            <input type="submit" value="Registrar" class="leer-mas">
                            <br>
                            <br>
                            <a href={% url 'inicio' %} class="boton-login">Volver a Inicio</a>
                            <a href={% url 'login' %} class="boton-login">Volver a Iniciar Sesión</a>
                            </form>
                    </div>
                </div>     
            </div>
        </div>    
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div> 
    </div>
        <div id="pie">
            <div id=centro-pie>
                <p>
                    (c)Todos los derechos reservados. Diseñado por 
                    <a href="https://github.com/EduardoVillacampa/eduardo.github.io" class="github"> Eduardo Villacampa</a>
                </p>
            </div>
        </div>       
    </div><!--termina el header-->     
</body>
</html>