
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>HuescaTelecom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div id="linea"></div> 
    <div id="header">
        <div id="centro1">
            <div id="logo">
                <h2>HuescaTelecom</h2>
                <p>Servicios de telecomunicaciones</p>
            </div>

            <div id="menu">
                <ul>
                    <li><a href={% url 'inicio' %}>Inicio</a></li>
                    <li><a href="quiensomos.html">Quien somos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="https://www.movistar.es/Privada/DesafioUnico/">Movistar</a></li>
                    <li><a href={% url 'products' %}>Productos</a></li>
                    <li><a href={% url 'formulario' %}>Área clientes</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'exit' %}">Salir</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        <div id="contenidos-paginas"><h2>Bienvenido. Accede a tu cuenta o registrate para acceder al Área Cliente</h2>
            <div id="login" class="text-justify">
                <p class="text-justify">Accede a tu cuenta</p>
                    <form action="" method="post">
                    {% csrf_token %}
                    <h4>Nombre de usuario:</h4><input type="text" name="username" id="" placeholder="Nombre de usuario">
                    <br>
                    <h4>Contraseña:</h4><input type="password" name="password" id="" placeholder="Contraseña">
                    <br>
                    <br>
                    <button class="leer-mas" type="sumbit">Iniciar Sesión</button>     
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div> 
        <div id="pie">
            <div id=centro-pie>
                <p>
                    (c)Todos los derechos reservados. Diseñado por 
                    <a href="https://github.com/EduardoVillacampa/eduardo.github.io" class="github"> Eduardo Villacampa</a>
                </p>
            </div>
        </div>       
    </div><!--termina el header-->     
</body>
</html>

