
{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>HuescaTelecom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
</head>
<body>

    <div id="linea">
    </div> 
    <div id="header">
        <div id="centro1">
            <div id="logo">
                <h2>HuescaTelecom</h2>
                <p>Servicios de telecomunicaciones</p>
            </div>
            <div id="menu">
                <ul>
                    <li><a href={% url 'inicio' %}>Inicio</a></li>
                    <li><a href={% url 'quiensomos' %}>Quien somos</a></li>
                    <li><a href={% url 'servicios' %}>Servicios</a></li>
                    <li><a href="https://www.movistar.es/Privada/DesafioUnico/">Movistar</a></li>
                    <li><a href={% url 'products' %}>Productos</a></li>
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'exit' %}">Salir</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        
        <div id="linea"></div> 
        <div id="contenidos-paginas">
            <br>
            <br>
            <p class="descripcion-pagina texto-quiensomos">Este es el área cliente de HuescaTelecom. Desde aqui puedes contactarnos a través del siguiente formulario </p>
            <p class="descripcion-pagina texto-quiensomos">Producto 2</p>
            <p class="descripcion-pagina texto-quiensomos">Producto 3</p>
            <p class="descripcion-pagina texto-quiensomos">Producto 4</p>
        </div>
    </div><!--termina el header-->
    {% block content %}{% endblock %}
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div id="pie">
        <div id=centro-pie>
            <p>
                (c)Todos los derechos reservados. Diseñado por 
                <a href="https://github.com/EduardoVillacampa/eduardo.github.io" class="github"> Eduardo Villacampa</a>
            </p>
            <b>Contacta con nosotros: huescatelecomcontacto@gmail.com // 974654322</b>
        </div>
    </div>
</body>
</html>