{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <title>HuescaTelecom</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/estilo.css' %}">
    
</head>
<body>
    <div id="linea"></div> 
    <div id="header">
        <div id="centro1">
        
            <div id="logo">
                <h2>HuescaTelecom</h2>
                <p>Servicios de telecomunicaciones</p>

                <div id="clock">
                    <script type="text/javascript" src="{% static 'js/reloj.js' %}"></script>

                </div>
                
            </div>
            
            <div id="menu">
                <ul>
                    
                    <li><a href={% url 'inicio' %}>Inicio</a></li>
                    <li><a href="quiensomos.html">Quien somos</a></li>
                    <li><a href="servicios.html">Servicios</a></li>
                    <li><a href="https://www.movistar.es/Privada/DesafioUnico/">Movistar</a></li>
                    <li><a href={% url 'products' %}>Productos</a></li>
                    <li><a href={% url 'formulario' %}>Área clientes</a></li>
                    
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'exit' %}">Salir</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Ingresar</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div><!--termina el header-->

    <div id="presentacion">
        <div id="centro2">
            <div id="izquierda">
                <h2>Soluciones tecnológicas desde 1980</h2>
                <p class="descripcion-pres">Especialistas en despliegue y mantenimiento 
                de instlaciones de telecomunicaciones</p>
                <a href="quiensomos.html" class="leer-mas">Mas información</a>
            </div>
            <div id="derecha">
                <img src="{% static 'core/logo.jpg' %}" class="img1">
            </div>
        </div>

    <div id="contenidos">
        <div id="centro3">
            <div id="izquierda">
                <h3>¿Quién somos?</h3>
                <p class="descripcion">
                    En HuescaTelecom ofrecemos soluciones tecnológicas
                    para nuestros clientes, tanto particulares como empresas.
                    <br> <br>
                    Desde 1980, somos pioneros en instalaciones de telecomunicaciones 
                    en la provincia de Huesca.
                </p>    
                <div id="imagenes">
                    <img src="{% static 'core/repetidor.png' %}" class="img-servicios">
                    <img src="{% static 'core/repetidor2.jpg' %}" class="img-servicios">
                    <img src="{% static 'core/repetidor3.jpg' %}" class="img-servicios">
                </div>
            </div>  
            <div id="derecha">
                <h3>Últimas novedades</h3>

                    En esta sección ofrecemos noticias actuales relacionadas 
                    con la tecnología
                </p>
                <article>
                    <h4>Se queda dormido al volante de un Tesla provocando una peculiar persecución policial</h4>
                    <p class="text-justify">
                        Quedarse dormido al volante le ha costado a esta persona su permiso de conducir y, además, que la policía tenga que perseguirle durante 15 minutos.
                    </p>
                    <a href="noticia1.html" class="leer-mas">Leer más</a>
                </article>
                <article>
                    <h4>Espiar desde el cielo: así funciona la tecnología de los globos estratosféricos</h4>
                    <p class="text-justify">
                        Estados Unidos rastrea un presunto artefacto espía chino que vuela sobre su territorio
                    </p>
                    <a href="noticia2.html" class="leer-mas">Leer más</a>
                </article>
                <article>
                    <h4>Día de Internet Seguro: ¿puede sufrir España un ciberataque como el de Italia?</h4>
                    <p class="text-justify">
                        Mientras nuestros vecinos transalpinos siguen azotados por un ataque ransomware a gran escala, 
                        las ciberdefensas españolas no paran de ascender en la clasificación de ‘players’ mundiales. Pero, no se confíe, los hackers tienen cada vez más comodines 
                        para hacerle caer en sus garras. Las pérdidas económicas por ciberdelincuencia aumentan exponencialmente y ya ni siquiera hace falta saber informática para lanzar un ataque.
                    </p>
                    <a href="noticia3.html" class="leer-mas">Leer más</a>
                </article>

            </div> 
        </div>
    </div>

    <div id="pie">
        <div id=centro-pie>
            <p>
                (c)Todos los derechos reservados. Diseñado por 
                <a href="https://github.com/EduardoVillacampa/eduardo.github.io" class="github"> Eduardo Villacampa</a>
            </p>
            <b>Contacta con nosotros: huescatelecomcontacto@gmail.com // 974654322</b>
        </div>
    </div>

    {% block content %}{% endblock %}

</body>
</html>